@import "../../sass/variables";

.projects-component {
  display: flex;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;

  .arrow {
    z-index: 3;
    fill: $main-text;
    height: 50px;
    width: 70px;
    top: 45%;
    right: 0px;
    filter: drop-shadow(1px 1px 3px $main-text);
    position: absolute;

    &:hover {
      cursor: pointer;
      fill: rgb(226, 226, 226);
    }
  }

  .arrow-one {
    transform: rotate(180deg) scale(0.8);
    transition: 0.5s;

    &:hover {
      transform: rotate(180deg) scale(0.85);
    }
  }

  .arrow-two {
    top: 45%;
    left: 0px;
    transform: scale(0.8);
    transition: 0.5s;

    &:hover {
      transform: scale(0.85);
    }
  }

  .bg-image {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-position: top center;
    background-size: cover;
  }

  .overlay {
    background-color: $main-overlay;
    @include overlay-style;
  }

  .device {
    position: relative;
    opacity: 1;

    .laptop-image {
      max-width: 100%;
      border: 0;
    }

    .default-laptop-bg-image {
      @include laptop-images;
      height: 76%;
      top: 6.1%;
    }

    .laptop-bg-image {
      @include laptop-images;
      height: 73%;
      top: 7.1%;
      background-repeat: no-repeat;
      background-size: 600px 361px;
    }
  }

  .project-description {
    position: absolute;
    max-width: 375px;
    height: auto;
    min-height: 450px;
    left: 59.5%;
    background: rgba(0, 0, 0, 0.704);
    border-radius: 6px;

    .project-links {
      position: absolute;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: absolute;
      right: -0.5em;
      bottom: -0.5em;

      .web-page {
        height: 30px;
        width: 30px;
      }

      .link {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        padding: 3px 10px;
        border: 1px solid hsla(0, 0%, 100%, 0.1);
        background: #ab8000;
        letter-spacing: 0.04em;
        color: hsla(0, 0%, 100%, 0.79);
        z-index: 9;
        line-height: 1;
        opacity: 1;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        border-radius: 3px;
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        font-family: $main-headings;
        margin-right: 10px;
      }

      .right-link {
        &:hover {
          .right-arrow {
            left: 3px;
          }
        }
      }

      .left-link {
        &:hover {
          .left-arrow {
            right: 3px;
          }
        }
      }
    }

    .left-arrow {
      @include arrow-styles;
      right: 0;
      margin-right: 4px;
      -webkit-transition: right 0.3s ease;
      transition: right 0.3s ease;
    }

    .right-arrow {
      @include arrow-styles;
      left: 0;
      margin-left: 4px;
      -webkit-transition: left 0.3s ease;
      transition: left 0.3s ease;
    }

    .project-name {
      font-size: 35px;
      color: $main-text;
      text-align: center;
      padding-top: 20px;
      font-weight: 800;
      font-family: $main-headings;
    }

    .description {
      color: $main-text;
      padding: 20px;
      text-align: center;
      font-size: 18px;
      font-family: $body-text;
    }

    .separator {
      width: 90%;
      margin: 0 auto;

      hr {
        height: 1.5px;
        color: $main-text;
        background-color: $main-text;
      }
    }

    .built-with {
      color: $main-text;
      padding-left: 20px;
      font-family: $main-headings;
    }

    .tools-used {
      padding: 0 0 20px 20px;
      display: flex;

      .icons {
        margin-left: 20px;
        border-left: 1px solid $main-text;
      }

      .tool-icons {
        margin-bottom: 10px;
        height: 40px;
        width: 75px;
      }

      .tool-name {
        color: $main-text;
        font-family: $main-headings;
        margin: 10px 0 0 0;
        width: 225px;
        height: 40px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .projects-component .device .laptop-image {
    display: none;
  }

  .projects-component .project-description {
    left: 0%;
    bottom: 10%;
    margin: 0 10px 0 10px;
  }

  .projects-component .arrow {
    top: 93%;
  }
}