.projects-component {
  display: flex;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;

  .overlay {
    background-color: #22a39f;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.35;
    filter: alpha(opacity=75);
  }

  .phish-image {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-position: top center;
    background-size: cover;
  }

  .device {
    position: relative;
    opacity: 1;
  }

  .laptop-image {
    max-width: 100%;
    border: 0;
  }

  .goPhish-image {
    position: absolute;
    top: 0;
    left: 16.9%;
    display: inline-block;
    width: 65.6%;
    height: 73%;
    top: 7.1%;
    background-repeat: no-repeat;
    background-size: 600px 361px;
  }

  .goPhish-image2 {
    position: absolute;
    top: 0;
    left: 16.9%;
    display: inline-block;
    width: 65.6%;
    height: 76%;
    top: 6.1%;
  }

  .arrow {
    z-index: 3;
    fill: #c7c7c7;
    height: 50px;
    width: 70px;
    top: 45%;
    right: 0px;
    filter: drop-shadow(1px 1px 3px white);
    position: absolute;
    &:hover {
      cursor: pointer;
      fill: rgb(226, 226, 226);
    }
  }

  .arrow-one {
    transform: rotate(180deg) scale(0.8);
    transition: 0.5s;
    &:hover {
      transform: rotate(180deg) scale(0.85);
    }
  }
  .arrow-two {
    top: 45%;
    left: 0px;
    transform: scale(0.8);
    transition: 0.5s;
    &:hover {
      transform: scale(0.85);
    }
  }
}


// .laptop-image {
//   max-width: 100%;
//   border: 0;
// }

// .device {
//   position: absolute;
//   opacity: 1;
// }

// .slider {
//   position: relative;
//   margin: 0 auto;
//   overflow: hidden;
//   white-space: nowrap;
//   display: flex;
//   position: relative;
//   // display: flex;
//   align-items: center;
//   justify-content: flex-start;
//   height: 100vh;
// }

// .laptopImgs {
//   left: 1.9%;
//   width: 55.6%;
//   height: 63%;
//   top: 7.1%;
//   background-repeat: no-repeat;
//   background-size: 600px 361px;
// }

// .please-work{
//   border: 3px solid red;
// }

// .slider-wrapper {
//   position: absolute;
//   height: 100%;
//   width: 100%;
// }

// .slider-wrapper2 {
  
//   position: absolute;
//   // height: 100%;
//   // width: 100%;
// }

// .slide {
//   display: inline-block;
//   height: 100%;
//   width: 100%;

// }

// .backGroundSlide {
//   display: inline-block;
//   height: 100%;
//   width: 100%;
// }

// .arrow {
//   height: 50px;
//   width: 50px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background: #f9f9f9;
//   border-radius: 50%;
//   cursor: pointer;
//   transition: transform ease-in 0.1s;
// }

// .nextArrow {
//   position: absolute;
//   top: 50%;
//   right: 25px;
//   z-index: 999;
//   color: #fff;
// }

// .backArrow {
//   position: absolute;
//   top: 50%;
//   left: 25px;
//   z-index: 999;
//   color: #fff;
// }

// .fa-arrow-right:before,
// .fa-arrow-left:before {
//   color: #222;
// }
