@import './variables';
@import '../components/Home/Home.scss';
@import '../components/Nav/Nav.scss';
@import '../components/About/About.scss';
@import '../components/Projects/Projects.scss';
@import '../components/Slides/Slides.scss';
@import '../components/Contact/Contact.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
