@import "../../sass/variables";

.about-component {
	@include component-styles;
	overflow: hidden;

	.bio-bg-color {
		background-color: $bio-background;
		@include background-color-styles;
	}

	.love-bg-color {
		background-color: $love-background;
		@include background-color-styles;
	}

	.skills-bg-color {
		background-color: $skills-background;
		@include background-color-styles;
	}

	.bg-color {
		background-image: radial-gradient($main-text 40%, $about-background);
		@include background-color-styles;
	}

	.overlay {
		background-color: $secondary-overlay;
		@include overlay-style;
	}

	.about-imgs {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 75px;
		position: relative;

		h1 {
			font-family: $main-headings;
		}

		.fingerprint-container {
			@include about-me-images;

			&:before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
			}

			.image {
				@include about-me-image-styles;

				span {
					width: 25%;
					height: 100%;
					background-image: url("https://i.imgur.com/Vwgemka.png");
					background-size: cover;
					transition: 0.6s ease-in-out;

					&:nth-child(1) {
						background-position: 0;
						transition-delay: 0s;
					}

					&:nth-child(2) {
						background-position: 33.33%;
						transition-delay: 0.1s;
					}

					&:nth-child(3) {
						background-position: 66.66%;
						transition-delay: 0.2s;
					}

					&:nth-child(4) {
						background-position: 99.99%;
						transition-delay: 0.3s;
					}
				}
			}

			&:hover .image > span:nth-child(1) {
				transform: translateY(-100%);
			}

			&:hover .image > span:nth-child(2) {
				transform: translateY(100%);
			}

			&:hover .image > span:nth-child(3) {
				transform: translateY(-100%);
			}

			&:hover .image > span:nth-child(4) {
				transform: translateY(100%);
			}

			.content {
				color: $bio-background;
				font-size: 50px;
				transform: translateX(-100%);
				@include content-styles;
			}

			&:hover .content {
				transform: translateX(0%);
				transition: 1s;
				transition-delay: 0.1s;
			}
		}

		.brain-container {
			@include about-me-images;

			&:before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
			}

			.image {
				@include about-me-image-styles;

				span {
					width: 25%;
					height: 100%;
					background-image: url("https://i.imgur.com/YIKuAnP.png");
					background-size: cover;
					transition: 0.6s ease-in-out;

					&:nth-child(1) {
						background-position: 0;
						transition-delay: 0s;
					}
					&:nth-child(2) {
						background-position: 33.33%;
						transition-delay: 0.1s;
					}
					&:nth-child(3) {
						background-position: 66.66%;
						transition-delay: 0.2s;
					}
					&:nth-child(4) {
						background-position: 99.99%;
						transition-delay: 0.3s;
					}
				}
			}

			&:hover .image > span:nth-child(1) {
				transform: translateY(-100%);
			}

			&:hover .image > span:nth-child(2) {
				transform: translateY(100%);
			}

			&:hover .image > span:nth-child(3) {
				transform: translateY(-100%);
			}

			&:hover .image > span:nth-child(4) {
				transform: translateY(100%);
			}

			.align-text {
				display: flex;

				h1 {
					justify-content: center;
					align-items: center;
					display: flex;
					color: $skills-background;
					width: 100%;
					height: 100%;
					font-size: 76px;
					transition: .5s;
					transition-delay: 0.1s;
					font-family: $main-headings;
				}

				.left-content h1 {
					transform: translateX(-300%);
				}

				.right-content h1 {
					transform: translateX(300%);
				}
			}

			&:hover .left-content h1,
			&:hover .right-content h1 {
				transform: translateX(0%);
				transition: .5s;
				transition-delay: 0.1s;
			}
		}

		.heart-container {
			@include about-me-images;

			&:before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
			}

			.image {
				@include about-me-image-styles;

				span {
					width: 25%;
					height: 100%;
					background-image: url("https://i.imgur.com/bHFUvWP.png");
					background-size: cover;
					transition: 0.6s ease-in-out;

					&:nth-child(1) {
						background-position: 0;
						transition-delay: 0s;
					}

					&:nth-child(2) {
						background-position: 33.33%;
						transition-delay: 0.1s;
					}

					&:nth-child(3) {
						background-position: 66.66%;
						transition-delay: 0.2s;
					}

					&:nth-child(4) {
						background-position: 99.99%;
						transition-delay: 0.3s;
					}
				}
			}

			&:hover .image > span:nth-child(1) {
				transform: translateY(-100%);
			}

			&:hover .image > span:nth-child(2) {
				transform: translateY(100%);
			}

			&:hover .image > span:nth-child(3) {
				transform: translateY(-100%);
			}

			&:hover .image > span:nth-child(4) {
				transform: translateY(100%);
			}

			.content {
				color: $love-background;
				font-size: 60px;
				transform: translateX(120%);
				@include content-styles;
			}

			&:hover .content {
				transform: translateX(0%);
				transition: 1s;
				transition-delay: 0.1s;
			}
		}
	}

	.about-me-section {
		justify-items: center;
		padding-right: 220px;
		padding-left: 120px;

		.profile-picture {
			height: 300px;
			width: 300px;
			border-radius: 50%;
			z-index: 999;
			box-shadow: 2px 5px 2px $main-text;
			margin-top: 25px;
		}

		article {
			text-align: left;
			padding: 20px;
			border: 2px solid $main-text;
			color: $main-text;
			border-radius: 6px;
			font-family: $body-text;
			font-weight: 400;
			z-index: 998;
			position: relative;
			max-height: 825px;
			overflow-y: scroll;
			overflow-x: hidden;
			.close-bio {
				min-height: 40px;
				min-width: 115px;
				background-image: url("https://i.imgur.com/W2MOh1G.png");
				background-size: contain;
				position: absolute;
				background-repeat: no-repeat;
				left: 96.5%;
				top: 1%;
				cursor: pointer;
				z-index: 999;

				&:hover {
					background-image: url("https://i.imgur.com/GhddtOU.png");
				}
			}
			p {
				font-size: 18px;
			}
		}
	}

	.love-section {
		.slides {
			height: 455px;
			position: relative;
			overflow: hidden;
			text-align: center;
			width: 1000px;
		}
	}
}

@media screen and (max-width: 2560px) {
	.about-component {
		.about-imgs {
			grid-column-gap: 150px;
			.heart-container,
			.fingerprint-container,
			.brain-container {
				height: 450px;
				width: 350px;
				h1 {
					font-size: 80px;
				}
			}
			.brain-container .align-text h1 {
				font-size: 80px;
				margin-top: 80px;
			}
			.heart-container .image span {
				width: 22.5%;
			}

			.brain-container .image span {
				width: 24.7%;
			}

			.fingerprint-container .image span {
				width: 23%;
			}
		}

		.love-section .close-section {
			top: 58.5%;
			left: 49%;
		}

		.about-me-section {
			grid-template-columns: 1fr 5fr;
			article p {
				font-size: 18px;
			}
		}
	}
}

@media screen and (max-width: 1920px) {
	.about-component {
		.about-imgs {
			grid-column-gap: 100px;
			.heart-container,
			.fingerprint-container,
			.brain-container {
				height: 400px;
				width: 300px;
				h1 {
					font-size: 80px;
				}
			}
			.brain-container .align-text h1 {
				font-size: 80px;
				margin-top: 80px;
			}
			.heart-container .image span {
				width: 23.5%;
			}

			.brain-container .image span {
				width: 25%;
			}

			.fingerprint-container .image span {
				width: 24%;
			}
		}

		.about-me-section article .close-bio {
			left: 95.5%;
		}
	}
}

@media screen and (max-width: 1680px) {
	.about-component {
		.about-imgs {
			grid-column-gap: 100px;
			.heart-container,
			.fingerprint-container,
			.brain-container {
				height: 400px;
				width: 300px;
				h1 {
					font-size: 80px;
				}
			}
			.brain-container .align-text h1 {
				font-size: 80px;
				margin-top: 80px;
			}
			.heart-container .image span {
				width: 23.5%;
			}

			.brain-container .image span {
				width: 25%;
			}

			.fingerprint-container .image span {
				width: 24%;
			}
		}

		.about-me-section article {
			.close-bio {
				left: 94.8%;
			}
			p {
				font-size: 18px;
			}
		}
	}
}

@media screen and (max-width: 1445px) {
	.about-component .about-me-section article .close-bio {
		left: 93.5%;
	}
}

@media screen and (max-width: 1100px) {
	.about-component .about-imgs {
		.heart-container,
		.fingerprint-container,
		.brain-container {
			height: 350px;
			width: 250px;
			h1 {
				font-size: 60px;
			}
		}
		.brain-container .align-text h1 {
			font-size: 60px;
			margin-top: 80px;
		}
	}
}

@media screen and (max-width: 1000px) {
	.about-component .about-me-section {
		max-height: 100%;
		padding-bottom: 35px;
		padding-right: 190px;

		article {
			width: 100%;
			max-height: 725px;
		}

		.profile-picture {
			height: 200px;
			width: 200px;
			position: relative;
			padding-top: 10px;
			margin-bottom: 20px;
		}
	}
}

@media screen and (max-width: 950px) {
	.about-component .about-imgs {
		.heart-container,
		.fingerprint-container,
		.brain-container {
			height: 300px;
			width: 200px;
		}
		.brain-container .align-text h1 {
			font-size: 55px;
			margin-top: 60px;
		}
	}
}

@media screen and (max-width: 800px) {
	.about-component {
		.about-imgs {
			grid-column-gap: 50px;
			.heart-container,
			.fingerprint-container,
			.brain-container {
				height: 250px;
				width: 200px;
				.image span {
					width: 22.5%;
				}
			}
			.brain-container .align-text h1 {
				font-size: 55px;
				margin-top: 60px;
			}
		}

		.about-me-section article {
			.close-bio {
				left: 94%;
				top: 2%;
			}
			p {
				font-size: 18px;
				margin-top: 50px;
			}
		}
	}
}

@media screen and (max-width: 755px) {
	.about-component {
		.about-imgs {
			grid-column-gap: 50px;
			.brain-container {
				height: 250px;
				width: 190px;
				.image span {
					width: 25%;
				}
				.align-text h1 {
					font-size: 40px;
					margin-top: 50px;
				}
			}

			.fingerprint-container {
				height: 250px;
				width: 182px;
				.image span {
					width: 25%;
				}
			}

			.heart-container {
				height: 250px;
				width: 173px;
				.image span {
					width: 25%;
				}
			}
		}

		.about-me-section article .close-bio {
			top: 2%;
			left: 93%;
		}
	}
}

@media screen and (max-width: 615px) {
	.about-component .about-imgs {
		grid-template-columns: none;
		grid-template-rows: 1fr 1fr 1fr;
		grid-row-gap: 10px;
		margin-bottom: 50px;

		.heart-container,
		.fingerprint-container,
		.brain-container {
			height: 225px;
			width: 175px;
			padding: 5px 0 5px 0;
		}
	}
}

@media screen and (max-width: 500px) {
	article {
		width: 100%;
	}

	.about-component {
		.about-imgs {
			.brain-container {
				height: 250px;
				width: 200px;
			}

			.fingerprint-container {
				height: 250px;
				width: 186px;
			}

			.heart-container {
				height: 250px;
				width: 184px;
			}
			.brain-container .align-text h1 {
				font-size: 40px;
				margin-top: 50px;
			}
		}

		.about-me-section {
			article .close-bio {
				left: 85%;
			}

			article p {
				font-size: 14px;
			}
		}
	}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-max-device-pixel-ratio: 3) {
	.about-component {
		.about-imgs {
			grid-row-gap: 25px;
			.brain-container {
				height: 200px;
				width: 162px;
			}

			.fingerprint-container {
				height: 200px;
				width: 150px;
			}

			.heart-container {
				height: 200px;
				width: 149px;
			}
		}

		.align-arrows .hobby {
			font-size: 40px;
		}
	}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-max-device-pixel-ratio: 2) {
	.about-component {
		.about-imgs {
			grid-row-gap: 25px;
			.brain-container {
				height: 175px;
				width: 144px;
			}

			.fingerprint-container {
				height: 175px;
				width: 133px;
			}

			.heart-container {
				height: 175px;
				width: 131px;
			}
		}

		.about-me-section article {
			overflow-x: hidden;
		}

		.align-arrows .hobby {
			font-size: 40px;
		}
	}
}
