.about-component {
  display: flex;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .bio-bg-color {
    background-color: #03c8c7;
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .love-bg-color {
    background-color: #e8a1b7;
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .work-bg-color {
    background-color: #333333;
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .bg-color {
    background-image: radial-gradient(#eeeeee 40%, #228b22);
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .overlay {
    background-color: #cbf1f5;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.35;
    filter: alpha(opacity=75);
  }

  .about-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;

    h1 {
      font-family: "Space Mono", monospace;
    }

    .fingerprint-container {
      width: 300px;
      height: 400px;
      position: relative;
      top: 35px;
      left: 0%;
      border-radius: 6px;
      background-size: contain;
      background-repeat: no-repeat;
      overflow: hidden;
      cursor: pointer;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .image {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: flex;

        span {
          width: 25%;
          height: 100%;
          background-image: url("../../assets/fingerprint.png");
          background-size: cover;
          transition: 0.6s ease-in-out;

          &:nth-child(1) {
            background-position: 0;
            transition-delay: 0s;
          }

          &:nth-child(2) {
            background-position: 33.33%;
            transition-delay: 0.1s;
          }

          &:nth-child(3) {
            background-position: 66.66%;
            transition-delay: 0.2s;
          }

          &:nth-child(4) {
            background-position: 99.99%;
            transition-delay: 0.3s;
          }
        }
      }

      &:hover .image > span:nth-child(1) {
        transform: translateY(-100%);
      }

      &:hover .image > span:nth-child(2) {
        transform: translateY(100%);
      }

      &:hover .image > span:nth-child(3) {
        transform: translateY(-100%);
      }

      &:hover .image > span:nth-child(4) {
        transform: translateY(100%);
      }

      .content {
        justify-content: center;
        align-items: center;
        display: flex;
        color: #03c8c7;
        width: 100%;
        height: 100%;
        font-size: 50px;
        font-family: sans-serif;
        transition: 1s;
        transition-delay: 0.1s;
        transform: translateX(-100%);
      }

      &:hover .content {
        transform: translateX(0%);
        transition: 1s;
        transition-delay: 0.1s;
      }
    }

    .brain-container {
      width: 300px;
      height: 400px;
      position: relative;
      top: 35px;
      left: 0%;
      border-radius: 6px;
      background-size: contain;
      background-repeat: no-repeat;
      overflow: hidden;
      cursor: pointer;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .image {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: flex;

        span {
          width: 25%;
          height: 100%;
          background-image: url("../../assets/brain.png");
          background-size: cover;
          transition: 0.6s ease-in-out;

          &:nth-child(1) {
            background-position: 0;
            transition-delay: 0s;
          }
          &:nth-child(2) {
            background-position: 33.33%;
            transition-delay: 0.1s;
          }
          &:nth-child(3) {
            background-position: 66.66%;
            transition-delay: 0.2s;
          }
          &:nth-child(4) {
            background-position: 99.99%;
            transition-delay: 0.3s;
          }
        }
      }

      &:hover .image > span:nth-child(1) {
        transform: translateY(-100%);
      }

      &:hover .image > span:nth-child(2) {
        transform: translateY(100%);
      }

      &:hover .image > span:nth-child(3) {
        transform: translateY(-100%);
      }

      &:hover .image > span:nth-child(4) {
        transform: translateY(100%);
      }

      .align-text {
        display: flex;

        h1 {
          justify-content: center;
          align-items: center;
          display: flex;
          color: #333333;
          width: 100%;
          height: 100%;
          font-size: 80px;
          font-family: sans-serif;
          transition: 1s;
          transition-delay: 0.1s;
          font-family: "Space Mono", monospace;
        }

        .left-content h1 {
          transform: translateX(-300%);
        }

        .right-content h1 {
          transform: translateX(300%);
        }
      }

      &:hover .left-content h1,
      &:hover .right-content h1 {
        transform: translateX(0%);
        transition: 1s;
        transition-delay: 0.1s;
      }
    }

    .heart-container {
      width: 300px;
      height: 400px;
      position: relative;
      top: 35px;
      left: 0%;
      border-radius: 6px;
      background-size: contain;
      background-repeat: no-repeat;
      overflow: hidden;
      cursor: pointer;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .image {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: flex;

        span {
          width: 25%;
          height: 100%;
          background-image: url("../../assets/human-heart.png");
          background-size: cover;
          transition: 0.6s ease-in-out;

          &:nth-child(1) {
            background-position: 0;
            transition-delay: 0s;
          }

          &:nth-child(2) {
            background-position: 33.33%;
            transition-delay: 0.1s;
          }

          &:nth-child(3) {
            background-position: 66.66%;
            transition-delay: 0.2s;
          }

          &:nth-child(4) {
            background-position: 99.99%;
            transition-delay: 0.3s;
          }
        }
      }

      &:hover .image > span:nth-child(1) {
        transform: translateY(-100%);
      }

      &:hover .image > span:nth-child(2) {
        transform: translateY(100%);
      }

      &:hover .image > span:nth-child(3) {
        transform: translateY(-100%);
      }

      &:hover .image > span:nth-child(4) {
        transform: translateY(100%);
      }

      .content {
        justify-content: center;
        align-items: center;
        display: flex;
        color: #e8a1b7;
        width: 100%;
        height: 100%;
        font-size: 60px;
        font-family: sans-serif;
        transition: 1s;
        transition-delay: 0.1s;
        transform: translateX(100%);
      }

      &:hover .content {
        transform: translateX(0%);
        transition: 1s;
        transition-delay: 0.1s;
      }
    }
  }

  .about-me-section {
    display: flex;
    margin: 0 100px 0 100px;

    .profile-picture {
      position: absolute;
      height: 300px;
      width: 300px;
      border-radius: 50%;
      box-shadow: 2px 5px 5px white;
    }

    article {
      text-align: left;
      margin: 0px 150px 0 350px;
      padding: 30px;
      border: 2px solid white;
      color: white;
      border-radius: 6px;
      font-family: "Work Sans", sans-serif;
      font-weight: 800;
      width: 750px;
      z-index: 998;
      p {
        font-size: 17px;
      }
    }

    .close-section {
      height: 40px;
      width: 115px;
      background-image: url("../../assets/circle.svg");
      background-size: contain;
      position: relative;
      background-repeat: no-repeat;
      right: 14%;
      top: 8px;
      cursor: pointer;
      z-index: 999;

      &:hover {
        background-image: url("../../assets/solid-circle.svg");
      }
    }
  }

  .love-section {
    .close-section {
      height: 40px;
      width: 115px;
      background-image: url("../../assets/circle.svg");
      background-size: contain;
      position: relative;
      background-repeat: no-repeat;
      right: 14%;
      top: 8px;
      cursor: pointer;
      z-index: 999;
      left: 90%;

      &:hover {
        background-image: url("../../assets/solid-circle.svg");
      }
    }

    .slides {
      height: 455px;
      position: relative;
      overflow: hidden;
      width: 1000px;
    }
  }
}
