.about-component {
  display: flex;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .overlay {
    background-color: #cbf1f5;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.35;
    filter: alpha(opacity=75);
  }

  .bio-bg-color {
    background-color: #03c8c7;
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .love-bg-color {
    background-color: #E8A1B7;
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .work-bg-color {
    background-color: #333333;
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .bg-image {
    background-color: #03c8c7;
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .bg-color {
    background-image: radial-gradient(#eeeeee 40%,#228B22);
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .about-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;

    .heart-container {
      width: 300px;
      height: 400px;
      position: relative;
      top: 35px;
      left: 0%;
      border-radius: 6px;
      background-size: contain;
      background-repeat: no-repeat;
      overflow: hidden;
    }

    .heart-container:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .heart-container .image {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      display: flex;
    }

    .heart-container .image span {
      width: 25%;
      height: 100%;
      background-image: url("../../assets/human-heart.png");
      background-size: cover;
      transition: 0.6s ease-in-out;
    }

    .heart-container .image span:nth-child(1) {
      background-position: 0;
      transition-delay: 0s;
    }
    .heart-container .image span:nth-child(2) {
      background-position: 33.33%;
      transition-delay: 0.1s;
    }
    .heart-container .image span:nth-child(3) {
      background-position: 66.66%;
      transition-delay: 0.2s;
    }
    .heart-container .image span:nth-child(4) {
      background-position: 99.99%;
      transition-delay: 0.3s;
    }

    .heart-container:hover .image > span:nth-child(1) {
      transform: translateY(-100%);
    }

    .heart-container:hover .image > span:nth-child(2) {
      transform: translateY(100%);
    }

    .heart-container:hover .image > span:nth-child(3) {
      transform: translateY(-100%);
    }

    .heart-container:hover .image > span:nth-child(4) {
      transform: translateY(100%);
    }

    .heart-container .content {
      justify-content: center;
      align-items: center;
      display: flex;
      color: #E8A1B7;
      width: 100%;
      height: 100%;
      font-size: 60px;
      font-family: sans-serif;
      transition: 1s;
      transition-delay: 0.1s;
      transform: translateX(100%);
    }

    .heart-container:hover .content {
      transform: translateX(0%);
      transition: 1s;
      transition-delay: 0.1s;
    }

    .brain-container {
      width: 300px;
      height: 400px;
      position: relative;
      top: 35px;
      left: 0%;
      border-radius: 6px;
      background-size: contain;
      background-repeat: no-repeat;
      overflow: hidden;
    }

    .brain-container:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .brain-container .image {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      display: flex;
    }

    .brain-container .image span {
      width: 25%;
      height: 100%;
      background-image: url("../../assets/brain.png");
      background-size: cover;
      transition: 0.6s ease-in-out;
    }

    .brain-container .image span:nth-child(1) {
      background-position: 0;
      transition-delay: 0s;
    }
    .brain-container .image span:nth-child(2) {
      background-position: 33.33%;
      transition-delay: 0.1s;
    }
    .brain-container .image span:nth-child(3) {
      background-position: 66.66%;
      transition-delay: 0.2s;
    }
    .brain-container .image span:nth-child(4) {
      background-position: 99.99%;
      transition-delay: 0.3s;
    }

    .brain-container:hover .image > span:nth-child(1) {
      transform: translateY(-100%);
    }

    .brain-container:hover .image > span:nth-child(2) {
      transform: translateY(100%);
    }

    .brain-container:hover .image > span:nth-child(3) {
      transform: translateY(-100%);
    }

    .brain-container:hover .image > span:nth-child(4) {
      transform: translateY(100%);
    }

    .brain-container .left-content h1 {
      justify-content: center;
      align-items: center;
      display: flex;
      color: #333333;
      width: 100%;
      height: 100%;
      font-size: 80px;
      font-family: sans-serif;
      transition: 1s;
      transition-delay: 0.1s;
      transform: translateX(-300%);
    }

    .brain-container:hover .left-content h1 {
      transform: translateX(0%);
      transition: 1s;
      transition-delay: 0.1s;
    }

    .brain-container .right-content h1 {
      justify-content: center;
      align-items: center;
      display: flex;
      color: #333333;
      width: 100%;
      height: 100%;
      font-size: 80px;
      font-family: sans-serif;
      transition: 1s;
      transition-delay: 0.1s;
      transform: translateX(300%);
    }

    .brain-container:hover .right-content h1 {
      transform: translateX(0%);
      transition: 1s;
      transition-delay: 0.1s;
    }

    .align-text {
      display: flex;
    }

    .fingerprint-container {
      width: 300px;
      height: 400px;
      position: relative;
      top: 35px;
      left: 0%;
      border-radius: 6px;
      background-size: contain;
      background-repeat: no-repeat;
      overflow: hidden;
    }

    .fingerprint-container:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .fingerprint-container .image {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      display: flex;
    }

    .fingerprint-container .image span {
      width: 25%;
      height: 100%;
      background-image: url("../../assets/fingerprint.png");
      background-size: cover;
      transition: 0.6s ease-in-out;
    }

    .fingerprint-container .image span:nth-child(1) {
      background-position: 0;
      transition-delay: 0s;
    }
    .fingerprint-container .image span:nth-child(2) {
      background-position: 33.33%;
      transition-delay: 0.1s;
    }
    .fingerprint-container .image span:nth-child(3) {
      background-position: 66.66%;
      transition-delay: 0.2s;
    }
    .fingerprint-container .image span:nth-child(4) {
      background-position: 99.99%;
      transition-delay: 0.3s;
    }

    .fingerprint-container:hover .image > span:nth-child(1) {
      transform: translateY(-100%);
    }

    .fingerprint-container:hover .image > span:nth-child(2) {
      transform: translateY(100%);
    }

    .fingerprint-container:hover .image > span:nth-child(3) {
      transform: translateY(-100%);
    }

    .fingerprint-container:hover .image > span:nth-child(4) {
      transform: translateY(100%);
    }

    .fingerprint-container .content {
      justify-content: center;
      align-items: center;
      display: flex;
      color: #03c8c7;
      width: 100%;
      height: 100%;
      font-size: 50px;
      font-family: sans-serif;
      transition: 1s;
      transition-delay: 0.1s;
      transform: translateX(-100%);
    }

    .fingerprint-container:hover .content {
      transform: translateX(0%);
      transition: 1s;
      transition-delay: 0.1s;
    }

    div {
      cursor: pointer;
    }

    .fingerprint-img {
      height: 350px;
      width: 250px;
      position: relative;
      margin-top: 50px;
    }

    h1 {
      font-family: 'Space Mono', monospace;
    }
  }

  .about-me-section {
    display: flex;
    margin: 0 100px 0 100px;

    .profile-picture {
      position: absolute;
      height: 300px;
      width: 300px;
      border-radius: 50%;
      box-shadow: 2px 5px 5px white;
    }

    article {
      text-align: left;
      margin: 0px 150px 0 350px;
      padding: 20px;
      border: 2px solid white;
      color: white;
      border-radius: 6px;
      font-family: 'Work Sans', sans-serif;
      font-weight: 800;
      p {
        font-size: 17px;
      }
    }
  }

  .close-section {
    height: 50px;
    width: 125px;
    background-image: url("../../assets/circle.svg");
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
    right: 10%;
    cursor: pointer;

    &:hover {
      background-image: url("../../assets/solid-circle.svg");
    }
  }

  .love-section {
    .close-section {
      left: 90%;
    }

    .slides {
      height: 455px;
      position: relative;
      overflow: hidden;
      width: 1000px;
    }
  }
}
