.contact-component {
  position: relative;
  height: 100vh;
  flex-direction: row;

  img.bg-image {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .overlay {
    background-color: #cbf1f5;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.35;
    filter: alpha(opacity=75);
  }

  article {
    display: flex;
    padding-top: 70px;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    opacity: 1;
    position: relative;
    z-index: 999;
    width: 600px;

    div.contact-intro {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      text-align: center;
      opacity: 1;

      h3 {
        font-size: 3rem;
        color: #0b6623;
        font-family: "Space Mono", monospace;
        margin: 0;
      }

      p {
        color: #0b6623;
        font-size: 1.2rem;
        min-width: 550px;
        padding: 5px 20px;
        font-family: "Work Sans", sans-serif;
        text-align: center;
        margin-bottom: 50px;
      }
    }
  }

  .contact-form {
    z-index: 999;
    position: relative;
    margin: 0 150px 0 150px;

    div.input-container {
      display: flex;
      flex-direction: column;
      min-width: 300px;
      max-width: 500px;
      margin: auto;
      padding: 20px;
      border: 2px solid #0b6623;
      border-radius: 20px;
      background-color: #e7f6f7;
      z-index: 999;

      label {
        font-weight: bold;
        color: #0b6623;
      }

      input {
        height: 2.5rem;
        letter-spacing: 0.5px;
        margin-bottom: 20px;
      }

      textarea {
        height: 125px;
        margin-bottom: 25px;
        background-color: white;
        resize: none;
      }

      input.submit-btn {
        width: 100px;
        margin: auto;
        height: 40px;
        border: 0;
        font-weight: bold;
        font-size: 1.2rem;
        background-color: #e7f6f7;
        transition: all ease-in-out 200ms;
        border: 2px solid #80b1b6;
        color: #80b1b6;
        cursor: pointer;

        &:hover {
          color: #0b6623 !important;
        }
      }
    }
  }
}
