@import "../../sass/variables";

.contact-component {
	position: relative;
	height: 100vh;
	flex-direction: row;
	overflow-y: hidden;

	img.bg-image {
		@include background-color-styles;
	}

	.overlay {
		background-color: $secondary-overlay;
		@include overlay-style;
	}

	article {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		text-align: center;
		opacity: 1;
		position: relative;
		z-index: 999;
		width: 600px;

		div.contact-intro {
			display: flex;
			flex-direction: column;
			margin: 0 auto;
			text-align: center;
			opacity: 1;

			h3 {
				font-size: 3rem;
				color: $contact-text;
				font-family: $main-headings;
				margin: 50px 0 0 0;
			}

			p {
				color: $contact-text;
				font-size: 1.2rem;
				min-width: 550px;
				padding: 5px 20px;
				font-family: $body-text;
				text-align: center;
				margin-bottom: 50px;
			}
		}
	}

	.contact-form {
		z-index: 999;
		position: relative;
		margin: 0 150px 0 150px;

		div.input-container {
			display: flex;
			flex-direction: column;
			min-width: 300px;
			max-width: 500px;
			margin: auto;
			padding: 20px;
			border: 2px solid $contact-text;
			border-radius: 10px;
			background-color: $contact-form;
			z-index: 999;
			height: 335px;

			label {
				font-weight: bold;
				color: $contact-text;
			}

			input {
				height: 2.5rem;
				letter-spacing: 0.5px;
				margin-bottom: 20px;
				border-radius: 5px;
			}

			textarea {
				height: 125px;
				margin-bottom: 25px;
				background-color: $main-text;
				resize: none;
				border-radius: 5px;
			}

			input.submit-btn {
				width: 100px;
				margin: auto;
				height: 40px;
				border: 0;
				font-weight: bold;
				font-size: 1.2rem;
				background-color: $contact-form;
				transition: all ease-in-out 200ms;
				border: 2px solid $contact-text;
				color: $contact-text;
				cursor: pointer;

				&:hover {
					color: $contact-form !important;
					background-color: $contact-text;
				}
			}
		}
	}
}

@media screen and (max-width: 2560px) {
	.contact-component article div.contact-intro h3 {
		margin-top: 160px;
	}
}

@media screen and (max-width: 1920px) {
	.contact-component article div.contact-intro h3 {
		margin-top: 130px;
	}
}

@media screen and (max-width: 1445px) {
	.contact-component article div.contact-intro h3 {
		margin-top: 100px;
	}
}

@media screen and (max-width: 640px) {
	.contact-component {
		article {
			width: 100%;
			padding-top: 35px;

			div.contact-intro {
				h3 {
					font-size: 2rem;
					margin-top: 80px;
				}

				p {
					font-size: 1rem;
					min-width: 300px;
					width: 300px;
				}
			}
		}

		.contact-form {
			margin: 0;

			div.input-container {
				max-width: 300px;
			}
		}
	}
}

@media screen and (max-width: 375px) {
	.contact-component article div.contact-intro {
		h3 {
			margin-top: 40px;
		}
		p {
			width: 330px;
		}
	}
}
