.browserCarousel {
  padding-top: 30px;
}

.carouselDiv a span:nth-child(2) {
  margin-top: 30px !important;
}

.carouselContainer .mobileCarousel {
  padding-top: 30px;
  display: none;
}

.hobby {
  position: absolute;
  margin-top: 0px;
  font-size: 20px;
  width: 100%;
  color: #fff;
  bottom: 0;
  right: 5px;
}

.carouselDiv {
  height: 325px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 0 auto;
  cursor: pointer
}

.close-section {
	height: 50px;
	width: 50px;
	background-image: url("https://i.imgur.com/W2MOh1G.png");
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 999;
	background-color: transparent;
	border: none;

	&:hover {
		background-image: url("https://i.imgur.com/GhddtOU.png");
	}
}

.slider {
	position: relative;
	width: 275px;
	margin: 0 auto;
	height: 275px;
	white-space: nowrap;
}


.slide {
	display: inline-block;
	height: 100%;
	width: 100%;
}

@media screen and (max-width: 850px) {
  .carouselContainer .browserCarousel {
      display: none;
  }
  .carouselContainer .mobileCarousel {
      display: block;
  }
}