.slider {
  position: relative;
  width: 275px;
  margin: 0 auto;
  height: 275px;
  white-space: nowrap;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.slide {
  display: inline-block;
  height: 50%;
  width: 50%;
}

.hobby {
  position: absolute;
  right: -25px;
  margin-top: 0px;
  font-size: 60px;
  width: 800px;
}

.arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform ease-in .1s;
}

.align-arrows {
  display: flex;
  flex-direction: row;
  height: 150px;
  width: auto;
}

.arrowNext {
  position: absolute;
  top: 55%;
  right: 425px;
  z-index: 999;
  margin-top: 100px;
  background-image: url("../../assets/arrow-regular.svg");

  &:hover {
  background-image: url("../../assets/arrow-solid.svg");
  }
}

.arrowBack {
  position: absolute;
  top: 55%;
  left: 425px;
  z-index: 999;
  margin-top: 100px;
  transform: rotate(180deg);
  background-image: url("../../assets/arrow-regular.svg");

  &:hover {
    background-image: url("../../assets/arrow-solid.svg");
    }
}