@import "../../sass/variables";

.nav-component {
  position: sticky;
  top: 10%;
  z-index: 999;

  .nav-bar {
    background-color: $navbar;
    position: absolute;
    top: 80%;
    right: 5%;
    width: 110px;
    min-height: 40px;

    .navbar-nav {
      float: none;
      padding: 0;
      padding-left: 0;
      list-style: none;
      margin: 0;

      li {
        display: block;
        float: none;
        height: 50px;
        display: block;
        text-align: center;
        padding-top: 30px;
        font-weight: 600;
        color: $main-text;
        cursor: pointer;

        &:hover {
          color: $contact-text;
        }
      }

      .active {
        background-color: $contact-text;

        &:hover {
          color: $main-text;
        }
      }
    }
  }
}
